<!DOCTYPE html>
<html lang="en">
  <head>
    {% include 'headfiles.html' %}
  </head>
  <body>  
    <div class="container">	  	
	  <div id="" class="maindiv">   
      {% include 'header.html' %}    
           
            <div class="row postdetailheading">
                    <div class="col-sm-2 col-xs-2 col-md-2">
						<div class="row">	
							Post(s)
                            </div>	
					</div>	                    		
            </div>
            <div class="col-sm-10 col-xs-10 col-md-10" style="margin-bottom: 5px; margin-top: 5px;">
						<div class="row">	
							 {% for message in app.session.getFlashBag.get('message') %}
                             <div class="realertmsg">{{ message }} </div>
                             {% endfor %}
                        </div>	
			</div>
            
            <div class="row postdetailmenu">
               		<div class="col-sm-8 col-xs-8 col-md-10">
						<div class="row">	<a href="{{path.baseUrlPath}}api/users"> << Back </a></div>	
					</div>
                    <div class="col-sm-4 col-xs-4 col-md-2 postdetailusernamealign">
						<div class="row">	<a href="{{path.baseUrlPath}}api/addpost/{{user_id}}"><b>Add new Post</b> </a></div>	
					</div>	
            </div>
            
           
          {% if(posts) %}
          {% for post in posts %} 
  		  <div class="row dypostrecord">
					 <div class="col-sm-12 col-xs-12 col-md-12 text-left"> 						
					       	<div class="row">	<a href="{{path.baseUrlPath}}api/posts/id/{{ post.rowid }}"><b>{{ post.title|e }}</b></a></div>                            
			         </div>	                                         			
		  </div>
          <div class="row dypostrecord">
					 <div class="col-sm-12 col-xs-12 col-md-12 text-left"> 						
					       	<div class="row">	{{ post.content[:300] }} ... </div>                            
			         </div>			
		  </div>
          <div class="row dypostrecord">
					 <div class="col-sm-12 col-xs-12 col-md-12 postdatealign"> 						
					       	<div class="row"><b>{{ post.date|date("d M Y")}}</b></div>                            
			         </div>			
		  </div>
          <div class="row dypostrecord">
					 <div class="col-sm-12 col-xs-12 col-md-12 "> <div class="row"><hr /></div> </div>			
		  </div>
          
          {% endfor %}
          
          {% else %}
          
          <div class="row" style="padding:inherit; margin: 1px; margin-top: 20px; margin-bottom: 20px;" >					
					 <div class="col-sm-12 col-xs-12 col-md-12 text-left"> 						
					       	<div class="row"> Post records not found.</div>                            
			         </div>	
          </div>
            
           {% endif %}
          
          {% include 'footer.html' %}
	  </div>
	</div>
  </body>
</html>